<?xml version="1.0" encoding="EUC-KR"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>contextPath</param-name>
        <param-value>/</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>IDinsert</servlet-name>
        <servlet-class>com.example.servlet.InsertID</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IDinsert</servlet-name>
        <url-pattern>/inserts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>com.example.servlet.ListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/lists</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>BookList</servlet-name>
        <servlet-class>Controller.BookList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookList</servlet-name>
        <url-pattern>/bookList</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>BookRegister</servlet-name>
        <servlet-class>Controller.Register.BookRegister</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookRegister</servlet-name>
        <url-pattern>/bookRegister</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReviewList</servlet-name>
        <servlet-class>Controller.Reivew.ReviewList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReviewList</servlet-name>
        <url-pattern>/reviewList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RentList</servlet-name>
        <servlet-class>Controller.Rent.RentList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RentList</servlet-name>
        <url-pattern>/rentList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RentListHistory</servlet-name>
        <servlet-class>Controller.Rent.RentListHistory</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RentListHistory</servlet-name>
        <url-pattern>/rentListHistory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReturnList</servlet-name>
        <servlet-class>Controller.Rent.ReturnList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReturnList</servlet-name>
        <url-pattern>/returnList</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Recommend</servlet-name>
        <servlet-class>Controller.Recommned.Recommend</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Recommend</servlet-name>
        <url-pattern>/recommend</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>com.example.servlet.deleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/deletes</url-pattern>

    </servlet-mapping>

    <servlet>

        <servlet-name>update</servlet-name>
        <servlet-class>com.example.servlet.UpdateServlet</servlet-class>

    </servlet>

    <servlet-mapping>

        <servlet-name>update</servlet-name>
        <url-pattern>/updates</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>bookdelete</servlet-name>
        <servlet-class>Controller.Delete.BookDelete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>bookdelete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bookUpdate</servlet-name>
        <servlet-class>Controller.Update.BookUpdate</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>bookUpdate</servlet-name>
        <url-pattern>/bookUpdate</url-pattern>
    </servlet-mapping>

</web-app>